* {
    margin: 0;
    padding: 0;
}


.form-style-3 {
	position:absolute;
	top:50%;
	right:5%;
	transform:translateY(-50%) ;
	
}



body {
    background-image: url('../Images/fond-for.jpg');
}

ul {
    list-style-type: none;
}

h1, h2 {
    color: #FEFEFA;
}

p {
    color: #CC0000;
    background-color: rgba(0, 0, 0, 0.5);
}

a, .menuStyle {
    color: #CC0000;
    text-decoration: blink;
    text-shadow: 2px 2px 4px black;
}

a:hover {
    color: #AAA;
}

table {
    width: 80%;
    color: #830000;
    margin: auto;
    background-color: #EFDECD;
}

strong, b {
    color: #CC0000;
}

.menu ul li {
    margin: 15px 0;
}


hr {
    background-color: black;
    border-color: lightsteelblue;
}

#centre {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;

}

#pied {
    text-align: center;
    margin-top: 5px;
}

.row {
    display: flex;
    flex-direction: row;
}

#menu {
    text-align: center;
    border: 2px groove lightsteelblue;
    border-radius: 10px;
    width: 20%;
    height: 100%;
    min-height: 700px;
    background-color: #EFDECD;
}

#navigation {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px groove lightsteelblue;
    min-height: 700px;
    width: 80%;
    text-align: center;
    letter-spacing: 1px;
    height: 100%;
    border-radius: 10px;
    position: relative;
}

#entete {
    border: 2px groove lightsteelblue;
    background-color: #fceded;
    border-radius: 10px;
	position:relative;
	height: 22vh;
}

.imgEntete {
    margin: 10px 60px;
}

.title1 {
    font-size: 2em;
    margin-left: 20px;
    letter-spacing: 2px;
    font-family: URW Chancery L, cursive;
    color: maroon;
}
