<form method="GET" action="traitement_monture.php" class="white-pink">
    <h1 id="title">Contactez-nous :</h1>
    <img src="images/fond/day.png" alt="" height=200 width=200/>
    <label> Nom *</label>
    <input type="text" name="your-name" value="" placeholder="nom" size="40" required>
    </br>
    <label> Numéro de téléphone *</label>
    <input type="tel" name="tel" placeholder="0606060606" required>
    </br>
    <label> E-mail *</label>
    <input type="email" name="your-email" value="" placeholder="exemple@gmail.com" size="40" required>
    </br>
    <label> Objet *</label>
    <select name="objet" required>
        <option value="Autre">Autre</option>
        <option value="Aide">Aide</option>
        <option value="Concours">Concours</option>
        <option value="Inscription">Inscription</option>
        <option value="Avis">Avis</option>
        <option value="Partenariat">Partenariat</option>
        <option value="Job / Stages">Job / Stages</option>
    </select>
    <label for="contact">Votre Message :</label>
    <textarea name="contact" id="contact" placeholder="message ..."></textarea>
    <input type="submit" class="button" value="Valider" name="valider">
</form>
