﻿<form method="GET" action="traitement_monture.php" class="white-pink">
    <h1>Ma Monture
        <span>Ajout d'une monture</span>
    </h1>
    <label>
        <span> Nom  monture :</span>
        <input type="text" name="txtnom"/>
    </label>
    <label>
        <span>Mâle </span>
        <input type="radio" name="radioSexe" value="Male"/>
    </label>
    <label>
        <span>Femelle </span>
        <input type="radio" name="radioSexe" value="Femelle"/>
    </label>
    <label>
        <span> Poids :</span>
        <input type="text" name="txtpoids"/>
    </label>
    <label>
        <span> Taille :</span>
        <input type="text" name="txttaille"/>
    </label>
    <label>
        <span> Poney </span>
        <input type="checkbox" name="type" value="poney"/>
    </label>
    <label>
        <span> Race :</span>
        <input type="text" name="txtrace"/>
    </label>
    <label>
        <span> Robe(couleur) </span></label>
    <select name="listerobe">
        <option value="alezan">Alezan</option>
        <option value="bai">Bai</option>
        <option value="noir">Noir</option>
        <option value="autres">Autres</option>
    </select>
    </label>
    <label>
        <span>Nom photo :</span>
        <input type="text" name="txtphoto"/>
    </label>
    <input type="submit" class="button" name="Envoyer" value="Envoyer"/>
</form>
