<form method="GET" action="traitement_monture.php" class="white-pink">
    <h1>Partenaires</h1>
    <br>
    <input id="image" type="image" width="150" height="100" alt="Partenaires"
           src="images/partenaire/fol2.jpg"/>
    <br>
    <hr/>
    <br>
    <input id="image" type="image" width="100" height="100" alt="Partenaires"
           src="images/partenaire/couverture.png"/>

    <input id="image" type="image" width="100" height="100" alt="Partenaires"
           src="images/partenaire/ChevalBD.png"/>
    <br>
    <hr/>
    <br>
    <input id="image" type="image" width="150" height="100" alt="Partenaires"
           src="images/partenaire/zcheval.jpg"/>
    <br>
    <hr/>
    <br>
    <input id="image" type="image" width="150" height="100" alt="Partenaires"
           src="images/partenaire/statue.png"/>
    <br>
    <hr/>
    <br>
    <input id="image" type="image" width="100" height="100" alt="Partenaires"
           src="images/partenaire/horse.jpg"/>
    <br>
    <hr/>
</form>
